@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}
.container_ref{
    width: 100%;
   height: 100vh;
   display: grid; 
   place-items: center;
   background: #fff;
   font-family: 'Poppins', sans-serif;
}
.client-wrap{
    width: 100%;
    height: auto;
    text-align: center;
}
.client-wrap h1{
    font-size: 60px;
    color: #555;
}
.client-wrap hr{
    width: 15%;
    height: 2px;
    border:none ;
    background: #55acee;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}
.client-in{
    width: 100%;
    height: auto;
}
.client-in ul{
    padding: 0;
    margin: 0;
}
.client-in ul li{
    list-style: none;
    display: inline-block;
    width: 150px;
    height: 100px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
}
.client-in ul li img{
    width: 60%;
    height: 100%;
}
.client-in ul li img:nth-child(1){
    transform: translateY(0) ;
    transition: .5s;
}
.client-in ul li img:nth-child(2){
    transform: translateY(0) ;
    transition: .5s;
}
/* Hover section */
.client-in ul li:hover img:nth-child(1){
    transform: translateY(-100%) ;
    transition: .5s;
}
.client-in ul li:hover img:nth-child(2){
    transform: translateY(-100%) ;
    transition: .5s;
}